/*通用属性*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
    outline: none;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 14px;
	font-family: "microsoft yahei","苹方","sans-serif";
}
/*nav部分*/
body {
	overflow-x: hidden;
}
header {
	width: 100%;
	height: 79px;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}
.nav-inner {
	width: 1170px;
	height: 79px;
	margin: 0 auto;
}
.nav-inner-logo>a {
	width: 180px;
	height: 79px;
	line-height: 79px;
	background-image: url(../img/logo.png);
	float: left;
}
.nav-inner-a {
	width: 628px;
	height: 79px;
	float: right;
}
.nav-inner-a>div {
    width: 628px;
    display: flex;
    justify-content: space-around;
}
.nav-inner-a>div>a {
	display: inline-block;
	width: 86px;
	line-height: 79px;
	color: black;
	float: left;
}
.nav-inner-a>div>a.hot {
	color: #16b0dc;
}
.nav-inner-a>div>a:hover {
	color: #16b0dc;
}
.nav-inner-a>div>.hot:hover div {
    display: block;
}
i.icon-xiala {
    font-size: 8px;
}
.nav-inner-a>div>.hot>div {
    width: 120px;
    height: 100px;
    line-height: 20px;
    background: #fff;
    text-align: end;
    padding: 0 20px;
    position: absolute;
    top: 60px;
    right: 470px;
    display: none;
}
.nav-inner-a>div>.hot>div>i {
    width: 100%;
    height: 34px;
    color: #358fe4;
}
.nav-inner-a>div>.hot>div>div {
    width: 100%;
    height: 36px;
    color: #2a333c;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    border-top: 1px solid #eee;
}
.nav-inner-a>div>.hot>div>div:hover {
    color: #358fe4;
}
/*站位块儿*/
.zhanwei {
	width: 100%;
	height: 79px;
}

/*main留言建议*/
.main {
	width: 100%;
	background-color: #f5f5f5;
}
/*main标题*/
.main-top {
	width: 100%;
	height: 100px;
	font-size: 35px;
	font-weight: 400;
	color: #F67A82;
	padding: 30px 30px;
	background-color: #f5f5f5;
	text-align: center;
}

/*main下半部正文部分*/
div.main-bottom {
	width: 1170px;
	margin: 0 auto;
	/*background-color: red;*/
    display: flex;
    border-bottom: 40px solid #f5f5f5;
    display: flex;
}
/*main左边列表部分*/
div.main-bottom>div {
    width: 720px;
    padding: 30px;
    background-color: #ffffff;
}
.main-left>li {
	width: 100%;
	height: 70px;
	margin: 10px auto;
	border-bottom: 1px #f5f5f5 solid;
    display: flex;
}
/*.main-left li:hover {*/
    /*background: #a3afb7;*/
/*}*/
.main-left>li>.icon {
	width: 36px;
	height: 36px;
	color: #2a333c;
	font-size: 36px;
}
.main-left>li>.icon>i {
	color: #2a333c;
	font-size: 36px;
}

.main-left>li>.inf {
	width: 500px;
	height: 46px;
	margin-left: 20px;
}
.main-left>li>.inf>h4 {
	color: #37474f;
	font-size: 14px;
	font-weight: 400;
}
.main-left>li>.inf>p {
	color: #76838f;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-left>li>.times {
    width: 138px;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.main-left>li>.times>span {
    font-size: 12px;
    color: #bbb;
    text-align: end;
}
/*左边列表底部页码部分*/

a.page {
	display: inline-block;
	width: 720px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin: 30px auto;
	background-color: #e4eaec;
	color: #76838f;
}
a.page:hover {
	background-color: #f5f5f5;
	transition: all .7s;
}

/*main右边小块儿*/
.main-right {
	width: 320px;
	height: 368px;
	background-color: #ffffff;
	margin-left: 30px;
	padding: 20px;
}
.main-right>.rem {
    height: 0;
    color: red;
    overflow: hidden;
}
/* .search {
 	width: 212px;
 	height: 36px;
 	line-height: 36px;
 	font-size: 14px;
 	text-align: center;
 	border: 1px #e4eaec solid;
 	border-radius: 18px;
 }*/
.main-right>input {
	font-size: 14px;
	width: 310px;
	height: 36px;
	color: #76838f;
	border: 1px #e4eaec solid;
	border-radius: 3px;
	margin-top: 20px;
	padding-left: 10px;
}
.main-right>textarea {
	font-size: 14px;
	color: #76838f;
	border: 1px #e4eaec solid;
	border-radius: 3px;
	margin-top: 20px;
	padding: 10px;
    resize: none;
}
.main-right>textarea::-webkit-input-placeholder {
    color: #a3afb7;
}
.main-right>.text {
    width: 100%;
    font-size: 14px;
    color: #a3afb7;
    text-align: center;
}
.main-right>.text>span {
    color: red;
}
.main-right>div>input {

}
.main-right input::-webkit-input-placeholder {
    color: #a3afb7;
}
.main-right>.verify {
    display: flex;
}
.main-right>.verify>input {
    font-size: 14px;
    width: 200px;
    height: 36px;
    color: #76838f;
    border: 1px #e4eaec solid;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 20px;
    padding-left: 10px;
}
.main-right>.verify>span {
	display: inline-block;
	width: 106px;
	height: 36px;
	border: 1px #e4eaec solid;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	margin-top: 20px;
	background-color: #f5f5f5;
	background-image: url(../img/yzm.png);
}
.main-right>button {
	font-size: 14px;
	width: 320px;
	height: 36px;
	border: 1px #358fe4 solid;
	border-radius: 3px;
	margin-top: 20px;
	padding-left: 10px;
	background-color: #358fe4;
	color: #ffffff;
    transition: all 1s;
}
.main-right>button:hover {
	background-color: #89bceb;
	border: 1px #89bceb solid;
    cursor: pointer;
}
/*footer部分*/
.footer-top {
	width: 100%;
	height: 20px;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: #f5f5f5;
	text-align: center;
}
.footer>div.icon {
	width: 100%;
	height: 30px;
	padding-top: 20px;
}
.footer>div>i {
	font-size: 32px;
	color: #62a8ea;
	margin: 0 10px;
}
.footer>div>i:nth-child(1) {
	color: #83b944;
}
.footer>.ICP {
	margin-top: 20px;
}
.footer>.ICP>a {
	color: #62a8ea;
}
.footer>p {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #aaaaaa;
}

/*footer部分*/
.footer-top {
	width: 100%;
	height: 20px;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: #f5f5f5;
	text-align: center;
}
.footer>div.icon {
	width: 100%;
	height: 30px;
	padding-top: 20px;
}
.footer>div>i {
	font-size: 32px;
	color: #62a8ea;
	margin: 0 10px;
}
.footer>div>i:nth-child(1) {
	color: #83b944;
}
.footer>.ICP {
	margin-top: 20px;
}
.footer>.ICP>a {
	color: #62a8ea;
}
.footer>p {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #aaaaaa;
}
